
.active{
	color:white;
}

.active:hover{
	color:rgb(200, 200, 200);

}

header {
	color: #259C8E; 
	font-size: 1.0em;
	padding: 20px 50px;
	z-index: 1;
}

header h1{
	text-align: center;
}


pre{

	padding-left: 50px;
}

aside{
	padding-top: 0;
	position: fixed;
	right: 0%;
	height: 100%;
}
.card{
	top: 50%;
	transform: translate(0, -50%);
	width:400px;
	height:auto;
	right: 5%;
	border-style: none;
}

.card-img-top{
	width:500px;
	height:350px;
}

section {
  	position: relative;
  	padding-top: 50px;
  	padding-left: 50px;
  	display: inline-block;
  	min-width: 50%;
  }

section>h5 {
	text-align: center;
	padding-left: 50px;
	width: 50%;
	margin: auto;
	padding:10px;
}


/* On screens that are 1155 or less set position to fixed */
@media screen and (max-width: 1300px) {
  aside {
    position: relative;
    margin: auto;
    width: 80%;
    top:20px;
    padding: 40px;

  }
  .card{
  	transform: translate(0, 0);
  }
}

#workbench_layer1,#workbench_layer2{
	position: absolute;
}

code{
	display: block;
	white-space: pre-wrap;
}

.navbar-title{
	font-size: 18px;
	text-align: center;
	color: white;
	margin: auto;
    width: 50%;
    padding: 8px;
}